.grad {
    background-image: linear-gradient(
        to right, rgb(165, 210, 243), white
    );
}
.font {
    font-family: cursive;
}
.profile-thumbnail {
    position: relative;
}
div.post-tabs{
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
div.post-tabs ul.posts{
    margin: 0px;
    border-top: none;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
.post-footer {
    text-align: right;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
.table.followers tr {
    border-bottom: solid 1px #e0e0e0
}

/* social media icons  */
.fa {
  padding: 16px;
  font-size: 28px;
  width: 30%;
  text-align: center;
  text-decoration: none;
  display: block;
}

.fa-twitter {
    background: #ffffff00;
    color: #55ACEE;
}
.fa-twitter:hover {
    background-color: #55ACEE;
    color: white;
    transition: 0.3s;
    border-radius: 2px;
}

.fa-instagram {
    background: #ffffff00;
    color: #125688;
}
.fa-instagram:hover {
    background-color: #125688;
    color: white;
    transition: 0.3s;
    border-radius: 2px;
}

.fa-github {
    background: #ffffff00;
    color: #151616cc;
}
.fa-github:hover {
    background-color: #151616cc;
    color: white;
    transition: 0.3s;
    border-radius: 2px;
}
.fa-edit, .fa-comment, .fa-trash, .fa-link {
    text-decoration: none;
    display: inline;
    font-size: 18px;
    padding: 6px;
    margin-left: 10px;
    color: black;
}
.fa-edit:hover, .fa-comment:hover, .fa-trash:hover, .fa-link:hover {
    color: rgba(0, 0, 0, 0.5)
}
.fa-user, .fa-user-plus {
    font-size: 18px;
    padding: 0 5px;
}