{% extends "base.htm" %}
{% block title %}Socio - About{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>About</h1>
</div>
<div class="container">
    <img src="{{ url_for('static', filename='insta3.jpg') }}" class="img-about img-rounded img-responsive" alt="developer"><br />
    <hr />
    <blockquote>
        He is Sugam Singh (19 YO), learning to code, just ended up learning 'Flask'.
        He made this blogging webapp with the help of Miguel's 'Flask Web Development'.
        Also, he has implemented some other features as well.
        He loves to learn new things. Currently, he is looking ahead for Mobile Development.
    </blockquote>
</div>
    
{% endblock %}