{% extends "bootstrap/base.html" %}
{% block title %}Socio{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css') }}">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand font" href="{{ url_for('main.index') }}">Socioblog</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav font">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.about') }}">About</a></li>
                <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right font">  
                {% if current_user.can(Permission.MODERATE) %}
                <li><a href="{{ url_for('main.moderate') }}">Moderate Comments</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.count_users') }}">Users</a></li>
                <li class="dropdown font">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img class="img" src="{{ url_for('static', filename='profiles/18' + current_user.profile_pic) }}" > Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu font">
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">My Profile</a></li>
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a class="fa fa-user" href="{{ url_for('auth.login') }}"></a></li>
                <li><a class="fa fa-user-plus" href="{{ url_for('auth.register') }}"></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<br />
{% endblock %}

{% block content %}
<div class="container font">
    <br /><br /><br />
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}